{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPH5Demo_plugin",
  "copy": true,
  "targets": {
    "MPH5Demo_plugin": {
      "author": "vivi.yw",
      "time": "2020/03/03 11:19:52",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.200302181840"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.200302163913",
          "APRemoteLogging": "1.0.0.200302162513",
          "mPaas": "1.0.0.200302172912",
          "APLog": "3.0.2.200302181840",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "AutoTracker": "1.0.0.200302154544",
          "MPPerformance": "1.0.0.200302175651",
          "TianYan": "1.0.0.200302154544",
          "MPDataCenter": "1.0.0.200302154544",
          "APCrashReporter": "1.0.0.200302154544"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.200302172912",
          "APLog": "3.0.2.200302181840"
        },
        "mPaaS_RPC": {
          "APMobileNetwork": "1.0.0.200228182216",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200302172912",
          "APLog": "3.0.2.200302181840",
          "APOpenSSL": "1.0.0.200228175209",
          "MPMgsAdapter": "1.0.0.200302175651"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.200228175209"
        },
        "mPaaS_Sync": {
          "APLongLinkService": "1.0.0.200214162420",
          "APLog": "3.0.2.200302181840",
          "APProtocolBuffers": "1.0.1.200228175209",
          "mPaas": "1.0.0.200302172912",
          "MPDataCenter": "1.0.0.200302154544",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "UTDID": "1.0.2.190226130141",
          "MPMssAdapter": "1.0.0.200302175651"
        },
        "mPaaS_Nebula": {
          "NebulaBiz": "1.0.0.200302185919",
          "APMobileFramework": "1.0.0.200228120419",
          "mPaas": "1.0.0.200302172912",
          "APLog": "3.0.2.200302181840",
          "APRemoteLogging": "1.0.0.200302162513",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "APWebImage": "1.0.0.200228120529",
          "APCommonUI": "1.0.0.200228104248",
          "AntUI": "1.0.0.200228103646",
          "NebulaSecurity": "1.0.0.200228144919",
          "APMobileNetwork": "1.0.0.200228182216",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.200228175209",
          "Nebula": "1.0.0.200228142526",
          "NebulaSDK": "1.0.0.200228144455",
          "NebulaPoseidon": "1.3.0.200228144455",
          "NebulaAppManager": "1.3.0.200228142526",
          "NebulaKernel": "1.0.0.200228142526",
          "TinyAppCommon": "1.0.0.200302185919",
          "SocketCraft": "1.0.0.200228175209",
          "NebulaTinyapp": "1.0.0.200228144919",
          "NebulaLogging": "1.0.0.200228144455",
          "AutoTracker": "1.0.0.200302154544",
          "NebulaConfig": "1.0.0.200228143246",
          "APConfig": "1.0.0.200228104248",
          "APLongLinkService": "1.0.0.200214162420",
          "MPDataCenter": "1.0.0.200302154544",
          "NebulaAppBiz": "1.0.0.200228143246",
          "MASSProxy": "1.0.0.200228175209",
          "MASSChannel": "1.0.0.200228175209",
          "MPNebulaAdapter": "1.0.0.200302175651",
          "NebulamPaaSBiz": "1.0.0.200228144455",
          "MPMpaaSService": "1.0.0.200228135004",
          "NebulaHeader": "1.0.0.200228143246",
          "MPMasAdapter": "1.0.0.200302163913",
          "MPPerformance": "1.0.0.200302175651",
          "TianYan": "1.0.0.200302154544",
          "APCrashReporter": "1.0.0.200302154544",
          "MPMgsAdapter": "1.0.0.200302175651",
          "MPMssAdapter": "1.0.0.200302175651",
          "AntUIShellForMpass": "1.0.0.200228103646",
          "MPBadgeService": "1.0.0.200228135004",
          "NebulaNetwork": "1.0.0.200228144455"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.200228104248",
          "AntUI": "1.0.0.200228103646",
          "AntUIShellForMpass": "1.0.0.200228103646",
          "MPBadgeService": "1.0.0.200228135004",
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.200302172912",
          "APLog": "3.0.2.200302181840"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.200228135004",
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.200302172912",
          "APLog": "3.0.2.200302181840"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.200228120419",
          "mPaas": "1.0.0.200302172912",
          "APLog": "3.0.2.200302181840",
          "APRemoteLogging": "1.0.0.200302162513",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209"
        }
      },
      "baseline": "10.1.68",
      "pversion": "2",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "MPMasAdapter.framework",
        "APRemoteLogging.framework",
        "mPaas.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "MPDataCenter.framework",
        "APCrashReporter.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "APOpenSSL.framework",
        "MPMgsAdapter.framework",
        "APLongLinkService.framework",
        "MPMssAdapter.framework",
        "NebulaBiz.framework",
        "APMobileFramework.framework",
        "APWebImage.framework",
        "APCommonUI.framework",
        "Masonry.framework",
        "AntUI.framework",
        "MBProgressHUD.framework",
        "NebulaSecurity.framework",
        "Nebula.framework",
        "NebulaSDK.framework",
        "NebulaPoseidon.framework",
        "NebulaAppManager.framework",
        "NebulaKernel.framework",
        "TinyAppCommon.framework",
        "SocketCraft.framework",
        "NebulaTinyapp.framework",
        "NebulaLogging.framework",
        "NebulaConfig.framework",
        "APConfig.framework",
        "NebulaAppBiz.framework",
        "MASSProxy.framework",
        "MASSChannel.framework",
        "MPNebulaAdapter.framework",
        "NebulamPaaSBiz.framework",
        "MPMpaaSService.framework",
        "NebulaHeader.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework",
        "NebulaNetwork.framework"
      ],
      "resources": [
        "APRemoteLogging.bundle",
        "APMobileNetwork.bundle",
        "NebulaPoseidon.bundle",
        "NebulaBiz.bundle",
        "APMobileFramework.bundle",
        "APCommonUI.bundle",
        "NebulaSDK.bundle",
        "NebulaAppManager.bundle",
        "NebulaKernel.bundle",
        "TinyAppCommon.bundle",
        "NebulaTinyapp.bundle",
        "NebulaLogging.bundle",
        "NebulaConfig.bundle",
        "MPInternalPresetApps.bundle",
        "MPNebulaAdapter.bundle",
        "MPInternalPlugins.bundle",
        "MPBadgeService.bundle"
      ]
    }
  },
  "recent": "MPH5Demo_plugin"
}