{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPH5Demo_plugin",
  "copy": true,
  "targets": {
    "MPH5Demo_plugin": {
      "author": "vivi.yw",
      "time": "2020/08/13 20:09:27",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.200716143211",
          "APRemoteLogging": "1.0.0.200813113130",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "AutoTracker": "1.0.0.200302154544",
          "MPPerformance": "1.0.0.200407145306",
          "TianYan": "1.0.0.200608201645",
          "MPDataCenter": "1.0.0.200302154544",
          "APCrashReporter": "1.0.0.200526142150"
        },
        "mPaaS_UTDIDLib": {
          "UTDID": "1.0.2.190226130141"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.200228175209"
        },
        "mPaaS_RPC": {
          "APMobileNetwork": "1.0.0.200811152708",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APOpenSSL": "1.0.0.200228175209",
          "MPMgsAdapter": "1.0.0.200525171627",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "MPMasAdapter": "1.0.0.200716143211"
        },
        "mPaaS_Sync": {
          "APLongLinkService": "1.0.0.200407162932",
          "APLog": "3.0.2.200619152113",
          "APProtocolBuffers": "1.0.1.200228175209",
          "mPaas": "1.0.0.200803101200",
          "MPDataCenter": "1.0.0.200302154544",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "UTDID": "1.0.2.190226130141",
          "MPMssAdapter": "1.0.0.200525171627",
          "APRemoteLogging": "1.0.0.200813113130",
          "MPMasAdapter": "1.0.0.200716143211"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.200729104902",
          "AntUI": "1.0.0.200730101103",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "TTTAttributedLabel": "1.0.0.200729094531",
          "AntUIShellForMpass": "1.0.0.200421105830"
        },
        "mPaaS_MBProgressHud": {
          "MBProgressHUD": "1.0.0.200406133247"
        },
        "mPaaS_Masonry": {
          "Masonry": "1.0.0.200406133247"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.200729190444",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209"
        },
        "mPaaS_Nebula": {
          "NebulaBiz": "1.0.0.200728175003",
          "APMobileFramework": "1.0.0.200729190444",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "APCommonUI": "1.0.0.200729104902",
          "AntUI": "1.0.0.200730101103",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "TTTAttributedLabel": "1.0.0.200729094531",
          "NebulaSecurity": "1.0.0.200507202546",
          "APMobileNetwork": "1.0.0.200811152708",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.200228175209",
          "Nebula": "1.0.0.200715153757",
          "NebulaSDK": "1.0.0.200728170925",
          "NebulaPoseidon": "1.3.0.200518101951",
          "NebulaAppManager": "1.3.0.200407152548",
          "SDWebImage": "1.0.0.200404155527",
          "NebulaKernel": "1.0.0.200228142526",
          "TinyAppCommon": "1.0.0.200716151854",
          "NebulaTinyapp": "1.0.0.200421110729",
          "NebulaLogging": "1.0.0.200228144455",
          "AutoTracker": "1.0.0.200302154544",
          "NebulaConfig": "1.0.0.200715153757",
          "APConfig": "1.0.0.200421115524",
          "APLongLinkService": "1.0.0.200407162932",
          "MPDataCenter": "1.0.0.200302154544",
          "NebulaAppBiz": "1.0.0.200407152548",
          "MASSProxy": "1.0.0.200228175209",
          "MASSChannel": "1.0.0.200228175209",
          "MPNebulaAdapter": "1.0.0.200611212421",
          "NebulamPaaSBiz": "1.0.0.200407104438",
          "MPMpaaSService": "1.0.0.200407120859",
          "NebulaHeader": "1.0.0.200407094748",
          "MPMasAdapter": "1.0.0.200716143211",
          "MPMgsAdapter": "1.0.0.200525171627",
          "MPMssAdapter": "1.0.0.200525171627",
          "AntUIShellForMpass": "1.0.0.200421105830",
          "NebulaNetwork": "1.0.0.200728170925",
          "SocketRocket": "1.0.0.200811152708"
        },
        "mPaaS_SDWebImage": {
          "SDWebImage": "1.0.0.200404155527"
        },
        "mPaaS_TTTAttributedLabel": {
          "TTTAttributedLabel": "1.0.0.200729094531"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.200228135004",
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113"
        }
      },
      "baseline": "10.1.68",
      "pversion": "36",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "MPDataCenter.framework",
        "mPaas.framework",
        "MPMasAdapter.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "APCrashReporter.framework",
        "APOpenSSL.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "MPMgsAdapter.framework",
        "APLongLinkService.framework",
        "MPMssAdapter.framework",
        "APCommonUI.framework",
        "AntUI.framework",
        "Masonry.framework",
        "MBProgressHUD.framework",
        "TTTAttributedLabel.framework",
        "AntUIShellForMpass.framework",
        "APMobileFramework.framework",
        "NebulaBiz.framework",
        "NebulaSecurity.framework",
        "Nebula.framework",
        "NebulaSDK.framework",
        "NebulaPoseidon.framework",
        "NebulaAppManager.framework",
        "SDWebImage.framework",
        "NebulaKernel.framework",
        "TinyAppCommon.framework",
        "NebulaTinyapp.framework",
        "NebulaLogging.framework",
        "NebulaConfig.framework",
        "APConfig.framework",
        "NebulaAppBiz.framework",
        "MASSProxy.framework",
        "MASSChannel.framework",
        "MPNebulaAdapter.framework",
        "NebulamPaaSBiz.framework",
        "MPMpaaSService.framework",
        "NebulaHeader.framework",
        "NebulaNetwork.framework",
        "SocketRocket.framework",
        "MPBadgeService.framework"
      ],
      "resources": [
        "APRemoteLogging.bundle",
        "APMobileNetwork.bundle",
        "APCommonUI.bundle",
        "TTTAttributedLabel.bundle",
        "APMobileFramework.bundle",
        "NebulaPoseidon.bundle",
        "NebulaBiz.bundle",
        "NebulaSDK.bundle",
        "NebulaAppManager.bundle",
        "NebulaKernel.bundle",
        "TinyAppCommon.bundle",
        "NebulaTinyapp.bundle",
        "NebulaLogging.bundle",
        "NebulaConfig.bundle",
        "MPInternalPresetApps.bundle",
        "MPNebulaAdapter.bundle",
        "MPInternalPlugins.bundle",
        "MPBadgeService.bundle"
      ]
    }
  },
  "recent": "MPH5Demo_plugin"
}